# NPM
/node_modules/

# Packges
dist/
.nuxt/
logs/

# Hostess
database.sqlite
uploads/
.env
!src/api/routes/uploads
db
database.sqlite-journal
docker/nginx/host.fuwn.me.conf
docker-compose.config.yml
/coverage
local/

# IDE
/.idea/

# Yarn
yarn.lock
