// Import the initial variables
@import "../../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../../node_modules/bulma/sass/utilities/functions";

// Setup our custom colors
$hostess: #323846;
$hostess-invert: findColorInvert($hostess);

// XXX: EXPERIMENTAL, CHECK IF WE NEED ORIGINAL PRIMARY ANYWHERE
// $primary: $hostess;
// $primary-invert: $hostess-invert;

// declare custom colors
$custom-colors: (
  "hostess":($hostess, $hostess-invert)
);
